<!-- Navbar -->
<div class="navbar-expand-lg navbar-light">
    <div
      id="sidebarNav"
      class="collapse navbar-collapse navbar-vertical"
    >
      <!-- Card -->
      <div class="card flex-grow-1 mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img
                class="avatar-img"
                src="{{url_for('static', filename='img/160x160/theta160x160.webp')}}"
                alt="Image Description"
              />
              <img
                class="avatar-status avatar-lg-status"
                src="{{url_for('static', filename='svg/illustrations/top-vendor.svg')}}"
                alt="Image Description"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Verified user"
              />
            </div>

            <h4 class="card-title mb-0">RICOH THETA X</h4>
            <p class="card-text small">11K 360 Images</p>
          </div>
          <!-- End Avatar -->
          <ul class="nav nav-sm nav-tabs nav-vertical">
            <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="bi-sliders nav-icon"></i> Home
                </a>
              </li>          
          </ul>

          <span class="text-cap">Image Settings</span>

          <!-- List -->
          <ul class="nav nav-sm nav-tabs nav-vertical">
            <li class="nav-item">
                <!-- CHANGE LINE BELOW TO NEW ROUTE AND DELETE THIS COMMENT -->
              <a class="nav-link" href="/delay3">
                <i class="bi-credit-card nav-icon"></i> self timer
                <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >3</span>                        
              </a>
            </li>                                                                            
          </ul>
          <!-- End List -->

          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sm nav-tabs nav-vertical">
            </ul>
            <!-- End List -->
          </div>
          <!-- End Nav -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Navbar -->