<!-- Navbar -->
<div class="navbar-expand-lg navbar-light">
    <div
      id="sidebarNav"
      class="collapse navbar-collapse navbar-vertical"
    >
      <!-- Card -->
      <div class="card flex-grow-1 mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img
                class="avatar-img"
                src="{{url_for('static', filename='img/160x160/theta160x160.webp')}}"
                alt="Image Description"
              />
              <img
                class="avatar-status avatar-lg-status"
                src="{{url_for('static', filename='svg/illustrations/top-vendor.svg')}}"
                alt="Image Description"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Verified user"
              />
            </div>

            <h4 class="card-title mb-0">RICOH THETA X</h4>
            <p class="card-text small">8K 10fps 360 Videos</p>
          </div>
          <!-- End Avatar -->
          <ul class="nav nav-sm nav-tabs nav-vertical">
            <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="bi-house nav-icon"></i> Home
                </a>
              </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('set_video')}}">
              <i class="bi-camera-video nav-icon"></i> Video Mode
            </a>
          </li>
          </ul>

          <span class="text-cap">Video Size Options</span>

          <!-- List -->
          <ul class="nav nav-sm nav-tabs nav-vertical">

            <li class="nav-item">
              <a class="nav-link" href="/setmax7200">
                <i class="bi-credit-card nav-icon"></i> Video Max 2hrs 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setmax1500">
                <i class="bi-credit-card nav-icon"></i> Video Max 25mins 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setmax300">
                <i class="bi-credit-card nav-icon"></i> Video Max 5mins 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/set8k10">
                <i class="bi-credit-card nav-icon"></i> 8K 10fps 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/set8k5">
                <i class="bi-credit-card nav-icon"></i> 8K 5fps                    
                <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >API only</span>   
              </a>
                     
            </li>                    
            <li class="nav-item">
              <a class="nav-link" href="/set8k2">
                <i class="bi-credit-card nav-icon"></i> 8K 2fps                        
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/set57k30">
                <i class="bi-credit-card nav-icon"></i> 5.7K 30fps                      
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/set57k10">
                <i class="bi-credit-card nav-icon"></i> 5.7K 10fps 
                <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >Not in docs</span>                        
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/set57k5">
                <i class="bi-credit-card nav-icon"></i> 5.7K 5fps 
                <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >API only</span>                        
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/set57k2">
                <i class="bi-credit-card nav-icon"></i> 5.7K 2fps 
                <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >API only</span>                        
              </a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="/set4k60">
                <i class="bi-credit-card nav-icon"></i> 4K 60fps 
                <!-- <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >video</span>                         -->
              </a>
            </li>                <li class="nav-item">
              <a class="nav-link" href="/set4k30">
                <i class="bi-credit-card nav-icon"></i> 4K 30fps 
                <!-- <span
                class="badge bg-soft-dark text-dark rounded-pill nav-link-badge"
                >video</span>                         -->
              </a>
            </li>   
                                                                        
          </ul>
          <!-- End List -->

          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sm nav-tabs nav-vertical">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi-box-arrow-right nav-icon"></i> Log out
                </a>
              </li> -->
            </ul>
            <!-- End List -->
          </div>
          <!-- End Nav -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Navbar -->