<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>RICOH THETA Desktop</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.ico')}}" /> 

    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" />

    <!-- Font -->
    <link
      href="{{url_for('static', filename='css/roboto-font.css')}}"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-icons/font/bootstrap-icons.css')}}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}" />
  </head>

  <body>

    <main id="content" role="main" class="bg-light" style="background-image: url(/static/svg/components/wave-pattern-light.svg);">
      <!-- Breadcrumb -->
      <div class="navbar-dark bg-dark">
        <div class="container content-space-1 content-space-b-lg-2">
          <div class="row align-items-center">

            <!-- End Col -->
  
            <div class="col-auto">

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                  <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                  <i class="bi-x"></i>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Breadcrumb -->

    <!-- Content Section -->
    <!-- <div class="container content-space-1"> -->
      <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        {% block main %}

        {% endblock %}
      
    </div>
    </main>
    <!-- End Content Section -->
    <!-- JS Global Compulsory -->
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- JS Front -->
    <script src="{{url_for('static', filename='js/hs.core.js')}}"></script>
  </body>
</html>
