{% extends 'f_base.html' %}

{% block main %}
<div class="row">
    <div class="col-lg-3">
      {% include 'sidebar/image_settings_sidebar.html' %}
    </div>
    <!-- begin right pane -->
    <div class="col-lg-9">
      <div class="d-grid gap-3 gap-lg-5">
        <!-- Card -->
        <div class="card">
          <div class="card-header border-bottom">
            <!-- <span class="text-cap">{{title}}</span> -->
            <p>{{title}}</p>

          </div>
          <!-- body of page -->
          <div class="card-body">
            <code>
              {{response}}
            </code>
          </div>
        </div>
      </div>
    </div>
    <!-- end right pane -->
    <!-- End Col -->
  </div>
  <!-- End Row -->

  {% endblock main %}