{% extends "base.html" %}

{% block main %}
<h1>{{ heading }}</h1>
<div class="col">
<button type="button" class="btn btn-primary" onclick="window.location.href='/info';">info</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/state';">state</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/take_picture';">shutter</button>
</div>
<div class="col pt-3" >
<button type="button" class="btn btn-primary" onclick="window.location.href='/last_image';">last image</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/ten_images';">10 images</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/thirty_images';">30 images</button>
</div>
<div class="col pt-3" >
<button type="button" class="btn btn-primary" onclick="window.location.href='/set8k10';">8k 10fps</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/set8k5';">8k 5fps</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/set8k2';">8k 2fps</button>
</div>
<div class="col pt-3" >
<button type="button" class="btn btn-primary" onclick="window.location.href='/set57k30';">5.7k 30fps</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/set57k5';">5.7k 5fps</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/set57k2';">5.7k 2fps</button>
</div>

<!-- <div class="col pt-3" >
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/toggle_fake_camera';">fake camera</button>
</div> -->
{% endblock main %}